
<center>
<div style="width: 400px; text-align: left;">
<h1>CEMI login</h1>
<form role="form" method="POST" action="/login">
  <div class="form-group">
    <label for="exampleInputEmail1">Uživatelské jméno</label>
    <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="Uživatelské jméno">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Heslo</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Heslo">
  </div>
  <button type="submit" class="btn btn-default btn-primary">Přihlásit se</button>
</form>

<h2>Instrukce <small><a href="/instrukce.txt">Plné znění</a></small></h2>

<div style="white-space: pre;">
  <%= @instructions %>
</div>

</div>

</center>

<br><br>