.annotation-pictures {
  float: right;
  width: 70%;
  padding: 10px;
}
.annotation-pictures img {
  height: 300px;
  margin: 0px 20px 40px 20px;
  border: 5px solid white;
}

.annotation-text {
  width: 30%;
  white-space: pre-wrap;
  padding: 0px  30px 30px 30px;
  font-size: 20px;
  border-right: 1px solid silver;
}

.selected-ok {
  border: 5px solid green !important;
}

.selected-fail {
  border: 5px solid red !important;
}