.annotation-pictures {
  float: right;
  width: 60%;
  padding: 10px;
}
.annotation-pictures img {
  height: 250px;
  margin: 2px 0px;
  border: 5px solid white;
}

.annotation-text {
  width: 40%;
  white-space: pre-wrap;
  padding: 0px  20px 20px 20px;
  font-size: 15px;
  border-right: 1px solid silver;
}

.selected-ok {
  border: 5px solid green !important;
}

.selected-fail {
  border: 5px solid red !important;
}