.annotation-pictures {
  float: right;
  width: 60%;
  padding: 10px;
}
.annotation-pictures img {
  width: 200px;
  height: 100px;
}

.annotation-text {
  width: 40%;
  white-space: pre-wrap;
  padding: 10px;
  border-right: 1px solid silver;
}

.selected-ok {
  border: 2px solid green;
}

.selected-fail {
  border: 2px solid red;
}